<div [ngSwitch]="scheduleType">
  <div *ngSwitchCase="scheduleTypes.TEACHER_SCHEDULE" class="schedule-card {{getPeriodClass()}}">
    <app-teacher-content-card [card]="displayCard.card"></app-teacher-content-card>
  </div>
  <div *ngSwitchCase="scheduleTypes.STUDENT_SCHEDULE" class="schedule-card {{getPeriodClass()}}">
    <app-student-content-card [card]="displayCard.card"></app-student-content-card>
  </div>
  <div *ngSwitchCase="scheduleTypes.CLASSROOM_SCHEDULE" class="schedule-card {{getPeriodClass()}}">
    <app-classroom-content-card [card]="displayCard.card"></app-classroom-content-card>
  </div>
  <div *ngSwitchCase="scheduleTypes.GROUP_SCHEDULE" class="schedule-card {{getPeriodClass()}}">
    <app-classroom-content-card [card]="displayCard.card"></app-classroom-content-card>
  </div>
</div>
