.schedule-card {
  border: 1px solid #e0dfdf;
  box-shadow: 2px 2px 4px 0 #c5c3c3;
  border-radius: 16px;
  margin-bottom: 1%;
  background-color: white;
  padding: 0.2rem;
}


.period-0 {
  height: 6.2rem;
}

.period-1 {
  height: calc(6.2rem + 6.2rem * 1);
}

.period-2 {
  height: calc(6.2rem + 6.2rem * 2);
}

.period-3 {
  height: calc(6.2rem + 6.2rem * 3);
}

.period-4 {
  height: calc(6.2rem + 6.2rem * 4);
}

.period- {
  height: calc(6.2rem + 6.2rem * 5);
}

.period-6 {
  height: calc(6.2rem + 6.2rem * 6);
}

.period-7 {
  height: calc(6.2rem + 6.2rem * 7);
}

.period-8 {
  height: calc(6.2rem + 6.2rem * 8);
}

.period-9 {
  height: calc(6.2rem + 6.2rem * 9);
}

.period-10 {
  height: calc(6.2rem + 6.2rem * 10);
}

.period-11 {
  height: calc(6.2rem + 6.2rem * 11);
}

.period-12 {
  height: calc(6.2rem + 6.2rem * 12);
}
