<div class="row">
  <div class="col-md-3 search-menu">
    <app-search-bar  [scheduleType]="selectedScheduleType"
                     (buttonTeacherSearch)="getCardsByTeacherId($event)"
                     (buttonStudentSearch)="getCardsByStudentId($event)"
                     (buttonClassroomSearch)="getCardsByClassroomId($event)"
    ></app-search-bar>
  </div>
  <div class="col-md-9 schedule">
    <div *ngIf="scheduleTitle" class="text-center schedule-title">{{scheduleTitle}}</div>
    <app-schedule [displayCards]="displayCards" [cardsType]="cardsType"></app-schedule>
  </div>
</div>
