<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="margin-around">
    <div class="row">
      <div class="col-12">
        <h2>
          <i class="material-icons main-icon">person</i>
          Učenici</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="form-group">
          <label for="student-id">id</label>
          <input type="text" formControlName="studentId" class="form-control" id="student-id"
                 placeholder="000">
        </div>
      </div>
      <div class="col-1 align-self-center"><strong>/</strong></div>
      <div class="col">
        <div class="form-group">
          <label for="student-year">Godina</label>
          <input type="text" formControlName="studentYear" class="form-control" id="student-year"
                 placeholder="0000">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="submit" class="btn"
              [ngClass]="{'btn-primary':studentId && studentYear,'btn-outline-primary':!studentId || !studentYear}"
              [disabled]="!studentId && !studentYear">viev schedule</button>
    </div>
  </div>
</form>
