.search-menu {
  margin-top: 2rem;
  min-height: 100%;
  padding-right: 0;
}

.schedule {
  background-color: #e3e3f2;
  padding-right: 0;
}

.schedule-title {
  background-color: white;
  font-size: xx-large;
  color: #484848;
  font-weight: 400;
  margin-left: -1rem;
  max-height: 3rem;
}
#print-button{
  margin-right: 1.5rem;
}
