<div class="row inner-shadow print-schedule">
  <div class="col-2" *ngFor="let dayDef of dayDefs ; let firstDay = first;">
    <div class="row period-row" *ngFor="let period of periods; let firstPeriod = first;">
      <div *ngIf="firstPeriod" class="days">
        <h5 *ngIf="!firstDay" class="text-center">{{dayDef.name}}</h5>
      </div>
      <div *ngIf="firstDay" class="period">
        {{period.short}}
      </div>
      <div *ngIf="!firstDay" class="fix-width">
        <div *ngFor="let displayCard of displayCards">
          <app-card *ngIf="displayCard.startPeriod === period.period && displayCard.card.day === dayDef.day"
                    [displayCard]="displayCard"
                    [scheduleType]="scheduleType"></app-card>
        </div>
      </div>

    </div>
  </div>
</div>
