.subject-name{
  font-weight: 700;
  letter-spacing: 0.04rem;
  padding-bottom: 2%;
  font-size: small;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
  text-overflow:ellipsis;
  overflow:hidden;
}
.subject-name:hover{
  overflow: visible;
}
.classroom-text{
  margin-bottom: -1%;
}
.text-secondary{
  font-size: small;
  margin-right: 0.2rem;
  padding: 0 0.1rem;
  background-color: #eaeaf1;
}
