<nav class="navbar navbar-right navbar-expand-lg navbar-light bg-white line-divider-bottom">
  <a class="navbar-brand" href="http://www.tmf.bg.ac.rs/sr">
    <img src="../../../assets/images/tmf-logo.png" id="tmf-logo" alt="Tmf Logo"/>
  </a>
  <a class="navbar-brand" id="title">
   | Student schedule
  </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-outline-primary float-right" id="print-button"
                [printStyle]="{'.inner-shadow' :  {'border': 'solid 3px black'}}"
                [useExistingCss]="true" printSectionId="schedule-print" ngxPrint>
          <i class="material-icons main-icon">print</i>
        </button>
      </li>
    </ul>

</nav>
