<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="margin-around">
    <div class="row">
      <div class="col-12">
        <h2>
          <i class="material-icons main-icon">school</i>
          Predavači</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group"> <!-- Proffessor Name -->
          <select formControlName="teacherId" id="teacher-id" class="form-control">
            <option *ngFor="let teacher of teachers" [value]="teacher.id">
              {{teacher.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="submit" class="btn" [ngClass]="{'btn-primary':teacherId,'btn-outline-primary':!teacherId}"
              [disabled]="!teacherId">viev schedule
        <i class="material-icons last-page-icon">last_page</i></button>
    </div>
  </div>
</form>
